---
import "@shopify/polaris/build/esm/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro template for the Shopify Polaris framework</title>
    <meta
      name="keywords"
      content="Astro, Shopify, Polaris, React, static, site, generator, web, development, design, template, layout"
    />
    <meta
      name="description"
      content="Astro Shopify Polaris template - a demonstration of using Shopify Polaris with Astro.build"
    />
    <meta name="author" content="Christopher Markus" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body>
    <slot />
  </body>
</html>